body {
  color: #31343b;
}
.navbar .navbar-brand {
  margin-top: 10px;
  background: url('../img/logo.png') no-repeat;
  display: block;
  width: 176px;
  height: 40px;
  margin-left: 12px;
}
.navbar .navbar-nav > li > a {
  line-height: 30px;
}
.navbar .navbar-toggle {
  margin-top: 12px;
  margin-bottom: 12px;
}
.navbar #navbar {
  float: right;
}
.content_last {
  background: #d2d2d2;
  height: 200px;
  width: 100%;
  text-align: center;
}
.content_last p {
  padding-top: 60px;
  padding-bottom: 20px;
}
.content_last div {
  color: #4c4a47;
  font-size: 12px;
}
.footer {
  height: 20px;
  background: #000;
  color: #81807c;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
