body {
  color: #31343b;
}
.navbar .navbar-brand {
  margin-top: 10px;
  background: url('../img/logo.png') no-repeat;
  display: block;
  width: 176px;
  height: 40px;
  margin-left: 12px;
}
.navbar .navbar-nav > li > a {
  line-height: 30px;
}
.navbar .navbar-toggle {
  margin-top: 12px;
  margin-bottom: 12px;
}
.navbar #navbar {
  float: right;
}
.footer {
  height: 100px;
  background: #333;
}
