.content {
  min-height: 700px;
  margin-top: 60px;
  background: #f7f7f7;
}
.content .bigTxt {
  margin-top: 70px;
  text-align: center;
}
.content .bigTxt h3 {
  font-weight: normal;
  margin-top: 10px;
}
.content .bigTxt .dot {
  background: url('../img/dot.png') no-repeat;
  display: inline-block;
  width: 34px;
  height: 6px;
  margin-bottom: 30px;
  margin-top: 8px;
}
.content .row {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.content .row div {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content .row div span {
  display: inline-block;
  width: 161px;
  height: 141px;
  background-repeat: no-repeat;
}
.content .row div a {
  text-decoration: none;
}
.content .row div p {
  line-height: 1.8;
  margin-top: 30px;
  font-size: 16px;
  color: #4c4a47;
}
.content .row div .big_txt {
  margin-top: 40px;
  font-size: 24px;
  color: #4c4a47;
}
.content .row div .sub_txt {
  margin-top: 10px;
  margin-bottom: 40px;
}
.content .row div .small_txt {
  margin-top: 10px;
  color: #81807c;
  font-size: 14px;
}
.content_page {
  background: #f2f2f2;
}
.content_page .row_inner {
  padding: 0 10%;
}
.idea span {
  background: url('../img/idea.png');
}
.idea1 span {
  background: url('../img/idea1.png');
}
.idea2 span {
  background: url('../img/idea2.png');
}
.idea3 span {
  background: url('../img/idea3.png');
}
.idea:hover span {
  animation: run 1s infinite linear;
}
.idea1:hover span {
  animation: run1 1s infinite linear;
}
.idea2:hover span {
  animation: run2 1s infinite linear;
}
.idea3:hover span {
  animation: run3 1.5s infinite linear;
}
@keyframes run {
  0% {
    background: url('../img/idea.png');
  }
  50% {
    background: url('../img/idea.png');
  }
  50.01% {
    background: url('../img/idea_h.png');
  }
  100% {
    background: url('../img/idea_h.png');
  }
}
@keyframes run1 {
  0% {
    background: url('../img/idea1.png');
  }
  50% {
    background: url('../img/idea1.png');
  }
  50.01% {
    background: url('../img/idea1_h.png');
  }
  100% {
    background: url('../img/idea1_h.png');
  }
}
@keyframes run2 {
  0% {
    background: url('../img/idea2.png');
  }
  50% {
    background: url('../img/idea2.png');
  }
  50.01% {
    background: url('../img/idea2_h.png');
  }
  100% {
    background: url('../img/idea2_h.png');
  }
}
@keyframes run3 {
  0% {
    background: url('../img/idea3.png');
  }
  50% {
    background: url('../img/idea3.png');
  }
  50.01% {
    background: url('../img/idea3_h.png');
  }
  100% {
    background: url('../img/idea3_h.png');
  }
}
