a {
	text-decoration: none;
}
.nav {
	background: #000;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.nav a {
	color: #fff;
}
.container {
	width: 400px;
	margin: 100px auto;
}
.container .inner {
	float: left;
	width: 178px;
	padding: 10px;
	height: 200px;
	border: 1px solid #ccc;
}
.container .inner  h2 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
}
.container .inner li {
	padding-top: 6px;
}
.container .inner a {
	color: #757575;
}
