/*数据研究*/
.chartMod {
  padding-top: 20px;
  border-radius: 4px;
  height: 400px;
  float: left;
  border: 1px solid #e8e8e8;
  background: #fff;
}
.chartMod .hd {
  padding: 0 0 10px 10px;
}
.chartMod .tips {
  padding: 10px;
}
.chartMod .tips .more {
  color: #2f8bcf;
}
.chartBox {
  height: 349px;
  overflow: hidden;
}
.chartBox .tabUl {
  float: left;
  width: 80px;
}
.chartBox .tabUl li {
  position: relative;
  margin-bottom: 2px;
  padding-left: 14px;
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  color: #333;
  cursor: pointer;
}
.chartBox .tabUl li a {
  color: #abb0bc;
}
.chartBox .tabUl li a:hover {
  text-decoration: none;
}
.chartBox .tabUl li.on a {
  color: #000;
}
.chartBox .bdBox {
  position: relative;
  float: left;
  height: 349px;
  width: 760px;
  background: #fff;
  text-align: center;
}
.chartBox .deal {
  position: absolute;
  top: 33px;
  right: 5px;
  width: 102px;
  padding: 5px 0;
  line-height: 20px;
  text-align: left;
  font-size: 12px;
  color: #333;
  font-family: "microsoft yahei";
}
.chartBox .deal .num {
  margin-left: 5px;
  color: #ee5e0f;
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 4px;
}
.chartBox .com {
  margin-top: -5px;
  padding: 0 20px;
  font-size: 12px;
  color: #d7d7d7;
  height: 58px;
  overflow: hidden;
  text-align: left;
}
.newBor {
  padding-top: 4px;
  margin-left: 5px;
  border-top: #edeef0 solid 1px;
  overflow: hidden;
}
.newBor .hd {
  margin-bottom: 10px;
}
.newBor .industryMod {
  float: left;
  width: 340px;
}
.newBor .dataMod {
  float: right;
  width: 340px;
}
.newsList li {
  line-height: 30px;
  overflow: hidden;
  font-size: 14px;
}
.newsList li a {
  float: left;
  width: 280px;
  height: 30px;
}
/*bg*/
.bg {
  background: #d5e3f0;
  height: 366px;
  width: 100%;
  position: relative;
}
.inner {
  width: 1220px;
  position: relative;
  margin: 0 auto;
  margin-top: -366px;
}
.banner .banner_left {
  float: left;
  width: 857px;
}
.banner .banner_right {
  float: right;
}
.banner .banner_right .login_box {
  background: #1499f9;
  width: 335px;
  height: 400px;
  border-radius: 4px;
  padding-left: 30px;
}
.banner .banner_right .login_box p {
  padding-top: 30px;
  color: #ffff36;
  font-size: 18px;
  padding-bottom: 10px;
}
.banner .banner_right .login_box div {
  margin-top: 20px;
}
.banner .banner_right .login_box div input {
  width: 275px;
  padding: 0 20px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 0;
  border-radius: 4px;
}
.banner .banner_right .login_box div .verify {
  width: 150px;
}
.banner .banner_right .login_box div button {
  border: 0;
  width: 275px;
  height: 40px;
  background-color: #ffff36;
  border-radius: 4px;
  font-size: 20px;
}
.banner .banner_right .login_box .regist {
  color: #fff;
  margin-top: 20px;
  display: block;
}
.opera {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bd_right {
  float: right;
}
.title {
  margin-top: 30px;
  font-size: 18px;
  font-size: 22px;
}
.recommand {
  width: 594px;
  height: 300px;
  background: #edf0f5;
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 4px;
}
