<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=1120">

	<title>金融商城</title>


		<!-- Bootstrap -->
		<link href="../../static/css/bootstrap.min.css" rel="stylesheet">
		<link href="../../output/mall/global/global.css" rel="stylesheet">

	<link href="../../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="../../output/mall/home/home.css" rel="stylesheet">
	<style>
	#app {
		border-radius: 2px;
		margin-top: 40px;
		background: #fff;
		padding: 30px;
	}
	tr th {
		text-align: center;
	}
	 tr input {
		 border: 1px solid #ccc;
		 width: 80px;
		 height: 20px;
		 display: none;
	 }
	 tr div {
		 width: 80px;
		 height: 20px;
		 display: inline-block;
	 }
    #myTab {
		width: 642px;
	}
    #myTabContent {
		width: 650px;
		height: 420px;
	}
	.nav-tabs>li>a {
	   font-size: 18px;
	   color: #abb0bc;
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	   color: #31343b;
	}
	</style>


		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="index.html">logo</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="index.html">首页</a></li>
				<li><a href="list.html">档案室</a></li>
				<li><a href="home.html">个人中心</a></li>
				<li><a href="data.html">关于我们</a></li>
				<li style="position: relative">
				  <input type="" class="search_btn" />
				  <span class="search_icon"></span>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="content">

	<main class="inner">
		<div class="box clear">
			<div class="box_left">
				<ul id="myTab" class="nav nav-tabs">
					<li class="active">
						<a href="#type_tab" data-toggle="tab">
							 类型
						</a>
					</li>
					<li><a href="#week_tab" data-toggle="tab">周期</a></li>
					<li><a href="#year_tab" data-toggle="tab">收益率</a></li>
					<li><a href="#mask_tab" data-toggle="tab">行业</a></li>
					<li><a href="#risk_tab" data-toggle="tab">风险</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade in active" id="type_tab">
						<div id="type" style="width: 600px;height:350px;" class="circle"></div>
					</div>
					<div class="tab-pane fade in " id="week_tab">
						<div id="week" style="width: 600px;height:350px;" class="circle"></div>
					</div>
					<div class="tab-pane fade in " id="year_tab">
						<div id="year" style="width: 600px;height:350px;" class="circle"></div>
					</div>
					<div class="tab-pane fade in " id="mask_tab">
						<div id="mask" style="width: 600px;height:350px;" class="circle"></div>
					</div>
					<div class="tab-pane fade in " id="risk_tab">
						<div id="risk" style="width: 600px;height:350px;" class="circle"></div>
					</div>
				</div>
			</div>
			<div class="box_right">
				<div class="calendar_title">回款日历</div>
				<div id="calendar"></div>
			</div>
		</div>
		<div id="app">
			<table  class="table table-bordered">
				<thead>
					<tr>
						<th width="100">台名称</th>
						<th width="100">标</th>
						<th width="100">金额</th>
						<th>年化收益(%)</th>
						<th>投资周期(周)</th>
						<th>起息日期</th>
						<th>预计收益</th>
						<th>回收资金</th>
						<th>回款日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" v-for="(item,index) in myData">
						<td><div @click="doDiv(item,$event)">{{item.plat}}</div><input  v-model="item.plat" @blur="doInput(item,$event)" lazy /></td>
						<td><div @click="doDiv(item,$event)">{{item.mark}}</div><input v-model="item.mark" @blur="doInput(item,$event)" lazy /></td>
						<td><div @click="doDiv(item,$event)">{{item.money}}</div><input v-model="item.money" @blur="doInput(item,$event)" lazy /></td>
						<td><div @click="doDiv(item,$event)">{{item.year}}</div><input v-model="item.year" @blur="doInput(item,$event)" lazy /></td>
						<td><div @click="doDiv(item,$event)">{{item.week}}</div><input v-model="item.week" @blur="doInput(item,$event)" lazy /></td>
						<td><div @click="doDiv(item,$event)">{{item.day}}</div><input  v-model="item.day" class="form_datetime" @blur="doInput(item,$event)" lazy /></td>
						<td>{{item.cal}}</td>
						<td>{{item.payment}}</td>
						<td>{{item.payday}}</td>
						<td><button class="btn btn-info btn-sm" @click="doDelete(index)"> 删除</button></td>
					</tr>
					<tr class="text-center normal">
						<td><div @click="doDiv(normalData,$event)">{{normalData.plat}}</div><input  v-model="normalData.plat" @blur="doInput(normalData,$event,'add')" lazy placeholder="支付宝" /></td>
						<td><div @click="doDiv(normalData,$event)">{{normalData.mark}}</div><input v-model="normalData.mark" @blur="doInput(normalData,$event,'add')" lazy placdholder="2" /></td>
						<td><div @click="doDiv(normalData,$event)">{{normalData.money}}</div><input v-model="normalData.money" @blur="doInput(normalData,$event,'add')" lazy placdholder="2" /></td>
						<td><div @click="doDiv(normalData,$event)">{{normalData.year}}</div><input v-model="normalData.year" @blur="doInput(normalData,$event,'add')" lazy placdholder="2" /></td>
						<td><div @click="doDiv(normalData,$event)">{{normalData.week}}</div><input v-model="normalData.week" @blur="doInput(normalData,$event,'add')" lazy placdholder="2" /></td>
						<td><div @click="doDiv(normalData,$event,'add')">{{normalData.day}}</div><input  v-model="normalData.day" class="form_datetime"  @blur="doInput(normalData,$event,'add')" /></td>
						<td>{{normalData.cal}}</td>
						<td>{{normalData.payment}}</td>
						<td>{{normalData.payday}}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>

		</div>
		<footer>
			Copyright @ 2011~2016 www.xxxxxx.com. All Rights Reserved.
		</footer>
		<script src="../../static/js/jquery.min.js"></script>
		<script src="../../static/js/bootstrap.min.js"></script>
		<script src="../../output/mall/global/global.js"></script>

	<script src="../../static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.3.2/echarts.min.js"></script>
	<script src="../../output/mall/home/home.js"></script>
	<script src="../../static/js/calendar.js"></script>
	<script>
	$(function(){
		var myDate = {};
		var normalDate = {};

		myData = [
			{plat: '支付宝', 
			 mark: 1,
			 money: 1,
			 year: 1,
			 week: 1,
			 day: '2017/01/01',
			 cal: 0.000027397260273972603,
			 payment: 1.000027397260274,
			 payday: '2017/01/08',
			 type: 'bank'
			}
		];

		function getChart(sel) {  //处理类型
			var bank=0,insurance =0;
			var shortNum=0,longNum=0, midNum=0;
			var data = [];
			for(var i=0; i<myData.length; i++) {
				if(sel == 'type') {
					switch(myData[i].type) {
						case'bank':
							bank++;
							break;
						case'insurance':
							insurance++;
							break;
					}

					data = [
						{value: bank, name: '银行理财'},
						{value: insurance, name: '保险'},
					]

				}

				if(sel == 'week') {
					if(myData[i].week > 11) {
						longNum++;
					}else if(myData[i].week > 5) {
						midNum++;
					}else if(myData[i].week > 0) {
						shortNum++;
					}
					data = [
						{value: shortNum, name: '短期'},
						{value: midNum, name: '中期'},
						{value: longNum, name: '长期'}
					]
				}

				if(sel == 'year') {
					if(myData[i].year > 10) {
						longNum++;
					}else if(myData[i].year > 5) {
						midNum++;
					}else if(myData[i].year > 0) {
						shortNum++;
					}
					data = [
						{value: shortNum, name: '<=5%'},
						{value: midNum, name: '5%<x<=10%'},
						{value: longNum, name: '>10%'}
					]
				}
			}
			return data;
		}

		var	option = {
				color: ['#fd6649','#54dc8a', '#0ba57f', '#5ca0ca', '#4f5e73','#95a8ad',  '#b68f6b', '#f8937f','#6e7074', '#546570', '#c4ccd3'],
				legend: {
					orient: 'vertical',
					x: 'right',
					top: '40',
					itemWidth: '15',
					formatter: '{name}',
					data: [],
				},
				series: [
					{
						name:'数据分析',
						type:'pie',
						radius: ['50%', '80%'],
						avoidLabelOverlap: false,
						label: {
							normal: {
								show: false,
								position: 'center'
							},
							emphasis: {
								show: true,
								formatter: "{b}\n({d}%)",
								textStyle: {
									fontSize: '22',
									fontWeight: 'bold',
								}
							}
						},
						labelLine: {
							normal: {
								show: false
							}
						},
						data: [

						]
					}
				]
		};



		function pageLoad() {
			 $('.circle').map(function(i,item){
				var _sel = $(this).attr('id');   //初始化chart
				option.series[0].data = getChart(_sel); 
				option.legend.data = getChart(_sel);

				echarts.init(document.getElementById(_sel)).setOption(option);

			 })
			$(".form_datetime").datetimepicker({
				format: 'yyyy/mm/dd',
				minView: 2,
				autoclose: true,
				startDate: "",
			});  //初始化日期插件
		}

		pageLoad();  //执行

		var date = new Date();

		normalData = {
			plat: '',
			mark: '',
			money: '',
			year: '',
			week: '',
			day: '',
			cal: '',
			payment: '',
			payday: '',
			type: 'bank'  //  默认银行产品
		}  

		var dataArr = ['plat','mark','money','year','week','day','cal','payment','payday','type'];


		var app =  new Vue({
			el: '#app',
			data: {
				myData: myData,
				normalData: normalData,
				old: ''  // 记录旧值做对比

			},
			mounted: function() {
				$(".form_datetime").datetimepicker({
					format: 'yyyy/mm/dd',
					minView: 2,
					autoclose: true
				});  //初始化日期插件
			},
			methods: {
				doDiv: function(data,e,isAdd) {  //data是传进来的数据组值，add是判断是否新增 
					$(".form_datetime").datetimepicker({
						format: 'yyyy/mm/dd',
						minView: 2,
						autoclose: true,
					    startDate: "",
					});  //初始化日期插件
					var $this = $(e.target);
					$this.hide();
					$this.siblings('input').show().focus();
					this.old = $this.html();
				},
				doInput: function(data,e,isAdd) {
					var $this = $(e.target);
					$this.hide();
					$this.siblings('div').show();
					//判断当输入条件 满足时发生  值的改变
					if($this.hasClass('form_datetime')) {
						$this.change(function() {
							data.day = $(this).val();
							cal();
							//新建
							if(isAdd == 'add') {
								add();
							}else {
								if(this.old != $.trim($this.val())) {
									pageLoad();
								}
							}
						})
					}else {
						cal();
						if(isAdd == 'add') {
							add();
						}else {
							if(this.old != $.trim($this.val())) {
								pageLoad();
							}
						}
					}

					function cal() { //运算
						if(data.day && data.week) {
							var time = new Date(data.day).getTime()+60*60*24*7*data.week*1000;  //多少周
							var arr = new Date(time).toLocaleString().split(" ")[0].split('/');
							for(var a=0; a<arr.length; a++) {  //1转换01
								if(arr[a].length ==  1) {
									arr[a] = '0'+arr[a];
								}
							}
							data.payday = arr.join('/');
						}
						if(data.week && data.year && data.money) {
								data.cal = parseFloat(data.money)*parseFloat(data.week)/365 * parseFloat(data.year/100);  //预计收益
								data.payment= parseFloat(data.money)*parseFloat(data.week)/365 * parseFloat(data.year/100)+parseFloat(data.money);  //预计收益
								pageLoad();
						}
					}

					function add() {  // 新增 
						if(data.plat && data.money && data.year && data.week && data.day) {
							myData.push(JSON.parse(JSON.stringify(data)));
							for(var i=0; i<dataArr.length; i++) {
								this.normalData[dataArr[i]] = '';
							}

							setTimeout(function() {
								this.normalData.day = '';
							},1);   //hackbug

							pageLoad();
						}
					}
				},
				doDelete: function(i) {
					if(confirm("确定要删除吗？")) {
						myData.splice(i,1);  //删除
						pageLoad();
					}
				}
			}
		})

		var signList=['2017/01/01','2017/03/01','2017/01/12'];  
		calUtil.init(signList); 
	})

	</script>

	</body>
</html>
